[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
psycopg2-binary = "*"
flask-jwt-extended = "*"
transformers = "*"
torch = "*"
torchvision = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
